body {
    margin: 0;
}

.flex {
    display: flex;
    margin: 5%;
    background-color: rgb(245, 238, 175);
    padding: 2%;
    justify-content: space-between;
}

.flex div {
    width: calc(97% / 4);
    background-color: green;
    text-align: center;
}

.float {
    overflow: hidden;
    margin: 5%;
    background-color: #eee;
    padding: 2%;
}

.float div {
    width: calc(96% / 4);
    background-color: orange;
    float: left;
    text-align: center;
    margin-left: 1%;
}