body {
    margin: 0;
    box-sizing: border-box;
}

.bg {
    /* display: flex; */
    height: 100vh;
    margin: auto;
    background-image: url(../images/ggplant_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
