* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

.page {
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 15% auto 10%;
    grid-template-areas: 
    "logo logo nav nav nav nav nav nav nav nav"
    "cont cont cont cont cont cont cont side side side"
    "foot foot foot foot foot foot foot foot foot foot";
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

h1 {
    grid-area: logo;
    background-color: red;
    color: white;
}

nav {
    grid-area: nav;
    background-color: blue;
    color: white;
}

section {
    grid-area: cont;
    background-color: green;
    color: white;
}

aside {
    grid-area: side;
    background-color: yellow;
    color: white;
}

footer {
    grid-area: foot;
    background-color: black;
    color: white;
}